{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request a Service</title>
    <link rel="stylesheet" href="{% static 'css/request.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicol.png' %}">

</head>
<body>
    <header>
        <a href="{% url 'home:home' %}" class="logo"><h1>AURBIENT</h1></a>
          <nav>
            <ul>
              <li><a href="#hero2">Services</a></li>
              <li><a href="{% url 'home:technology' %}">Technology</a></li>
              {% comment %} <li><a href="/blogs">Blog</a></li> {% endcomment %}
              <li><a href="{% url 'home:career' %}">Career</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="{% url 'home:about' %}">About</a></li>
            </ul>
          </nav>
        </header>
    <h2>Request a Service</h2>
    <form method="post">
        {% csrf_token %}
        
        <label for="name">Full Name:</label>
        {{ form.name }}
        
        <label for="email">Email:</label>
        {{ form.email }}

        <label for="phone">Phone Number:</label>
        {{ form.phone }}

        <label for="company">Company Name:</label>
        {{ form.company }}

        <label for="service_type">Service Type:</label>
        {{ form.service_type }}

        <label for="project_scope">Project Scope:</label>
        {{ form.project_scope }}

        <label for="employees_count">Number of Employees:</label>
        {{ form.employees_count }}

        <label for="location">Location:</label>
        {{ form.location }}

        <label for="additional_info">Additional Information:</label>
        {{ form.additional_info }}

        <button type="submit">Submit Request</button>
    </form>
</body>
</html>
